.my-movies {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-movies h1 {
    margin-bottom: 14px;
}

.my-movies span {
    font-size: 20px;
}

.my-movies ul {
    width: 720px;
}

.my-movies ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.my-movies div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-movies div a {
    text-decoration: none;
    color: brown;
    margin-right: 15px;
}